<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Geo Punching</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button color="secondary"></ion-menu-button>
      </ion-buttons>
      <ion-title>Geo Punching</ion-title>
    </ion-toolbar>
  
  </ion-header>

<!-- [styles]="agmStyles" -->
<ion-content padding>
  <ion-card-content no-padding>
    <agm-map [latitude]="MyLocation.Latitude" [longitude]="MyLocation.Longitude" [zoom]="9" [zoomControl]="false" [streetViewControl]="true">
      <agm-marker [latitude]="MyLocation.Latitude" [longitude]="MyLocation.Longitude"></agm-marker>
    </agm-map>

    <!-- *ngIf="enablePunchingButtons" -->
    <ion-grid>     
      <ion-row>
        <ion-col>
          <ion-button expand="full" shape="round" color="success" (click)="punchIn()">Punch In</ion-button>
        </ion-col>
       
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="full" shape="round" color="danger"  (click)="punchIn()">Punch Out</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-card-content>
</ion-content>