<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>Submit execuse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (submit)="submitExecuse()">

 


    <ion-item>
        <ion-label>Execuse Date</ion-label>
        <ion-datetime displayFormat="YYYY/MM/DD" [(ngModel)]="excModel.excuse_date" name="excuse_date"></ion-datetime>
      </ion-item>



    <ion-item>
      <ion-label>From Time</ion-label>
      <ion-datetime displayFormat="HH:MM" [(ngModel)]="excModel.from_time" name="from_time"></ion-datetime>
    </ion-item>



    <ion-item>
      <ion-label>To Time</ion-label>
      <ion-datetime displayFormat="HH:MM" [(ngModel)]="excModel.to_time" name="to_time"></ion-datetime>
    </ion-item>


    <ion-item class="item-leave-height">
      <ion-label>Pay Status</ion-label>
      <ion-select [(ngModel)]="excModel.pay_status" name="pay_status">
        <ion-select-option value="0">Paid</ion-select-option>
        <ion-select-option value="1">Unpaid</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-item class="item-leave-height">
      <ion-label>Reasons</ion-label>
      <ion-select [(ngModel)]="excModel.reason_id" name="reason_id">
        <ion-select-option *ngFor="let item of resons" value="{{item.reason_id}}">{{item.reason}}</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label fixed>Description</ion-label>
      <ion-input type="text" [(ngModel)]="excModel.desc" name="desc"></ion-input>
    </ion-item>




    <!-- <div padding>
      <button ion-button round color="primary" block>submit</button>
    </div> -->

    <ion-button full (click)="submitExecuse()" icon-left size="medium" expand="full" shape="round" color="dark" tappable>
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="paper"></ion-icon>
        Submit
    </ion-button>
    

  </form>
</ion-content>
