<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content padding>
  <form (submit)="ChangePassword()">
    <ion-list>

      <ion-item>
        <ion-label fixed>Old Password</ion-label>
        <ion-input type="password" [(ngModel)]="OldPassword" name="OldPassword"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label fixed>New Password</ion-label>
        <ion-input type="password" [(ngModel)]="NewPassword" name="NewPassword"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label fixed>Confirm Password</ion-label>
        <ion-input type="password" [(ngModel)]="ConfirmPassword" name="ConfirmPassword"></ion-input>
      </ion-item>

      <ion-button full (click)="ChangePassword()" icon-left size="medium" expand="full" shape="round" color="dark" tappable>
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon name="paper"></ion-icon>
          Submit
      </ion-button>


      <!-- <div padding>
        <button ion-button round color="primary" block>Change Password</button>
      </div> -->

    </ion-list>
  </form>
</ion-content>
