<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>Execuses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col size="6" class="br bb datetime-btn" text-center>
      <ion-item no-padding text-center>
        <ion-label position="stacked" class="fw700 text-primary">
          <ion-icon name="calendar" slot="start" class="text-primary"></ion-icon>
          From
        </ion-label>
        <ion-datetime no-padding class="text-primary" displayFormat="MM/DD/YYYY" pickerFormat="YYYY-MM-DD" min="2016"
          max="2050" [(ngModel)]="dateComp.from"></ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col size="6" class="bb datetime-btn" text-center>
      <ion-item no-padding text-center>
        <ion-label position="stacked" class="fw700 text-primary">
          <ion-icon name="calendar" slot="start" class="text-primary"></ion-icon>
          To
        </ion-label>
        <ion-datetime no-padding class="text-primary" displayFormat="MM/DD/YYYY" pickerFormat="YYYY-MM-DD" min="2016"
          max="2050" [(ngModel)]="dateComp.to"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-button full (click)="LoadExecuses()" icon-left size="medium" expand="full" shape="round" color="dark" tappable>
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="search"></ion-icon>
    View Execuses
  </ion-button>

  <div>
    <ion-item color="medium" tappable margin-bottom *ngFor="let lev of exList">
      <ion-thumbnail slot="start">
        <!-- <img src="assets/img/vac.png"> -->
        <ion-grid>
          <ion-row>
            <ion-col>
              <img src="assets/img/vac.png">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-thumbnail>
      <ion-label>
        <h2>
          <!-- <strong>{{att.TT_DATE | date:'yyyy/MM/dd'}}</strong> -->
        </h2>

        <h3>
          <ion-badge slot="start" color="warning" class="rooms">
            <strong>Leave Title {{lev.LV_TITLE}}</strong>
          </ion-badge>
        </h3>


        <h3>
          <ion-badge slot="start" color="warning" class="rooms">
            <strong>From {{lev.START_DATE | date:DefaultDateFormat}}</strong>
          </ion-badge>
        </h3>


        <h3>
            <ion-badge slot="start" color="warning" class="rooms">
              <strong>To {{lev.END_DATE | date:DefaultDateFormat}}</strong>
            </ion-badge>
          </h3>

          <h3>
              <ion-badge slot="start" color="warning" class="rooms">
                <strong>Reason {{lev.REASON_TITLE }}</strong>
              </ion-badge>
            </h3>

          

        <!-- <h3>

          <ion-badge slot="start" color="success" class="rooms">
            <strong>Leave ID {{lev.LV_ID}}</strong>
          </ion-badge>

        </h3> -->


      </ion-label>
    </ion-item>
  </div>


  <!-- 
  <div style="overflow-x:auto;">
    <ion-card>


      <ion-grid>
        <ion-row nowrap>

          <ion-col class="thro">Execuse ID</ion-col>
          <ion-col class="thro">Excuses Description</ion-col>
          <ion-col class="thro"></ion-col>      
        </ion-row>

        <ion-row nowrap *ngFor="let lev of exList" class="ro">
          <ion-col>{{lev.LV_ID}}</ion-col>
          <ion-col>{{lev.LV_TITLE}}</ion-col>
          <ion-col>      
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card>
  </div> -->








</ion-content>