:host {
  ion-content {
    //--background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
    --background: linear-gradient(-135deg, #ffffff, #ffffff)
  }
}

ion-card {
    border-radius: 0;
    ion-badge {
        margin-right: 10px;
    }
}