.alert-wrapper {
    .sc-ion-alert-md{
        width: 100% !important;
    }
    .sc-ion-alert-md-h
    {
        max-width: 100% !important;
    }
    
}
.sc-ion-alert-md-h
{
    max-width: 100% !important;
}