<ion-content>
    <!-- padding class="animated fadeIn login auth-page" -->
  <ion-slides class="bgn FullHeight" pager="true" dir="ltr" options="slideOpts">

    <ion-slide class="bgnd2">

      <div class="w100">

        <!-- <div class="auth-content"> -->


        <!-- Logo -->
        <div padding-horizontal text-center class="animated fadeInDown">
          <!-- <h4 no-margin>
        <ion-text color="light">        
          <img src="assets/img/logo.png">
        </ion-text>
      </h4> -->


          <form (submit)="signUp()">

            <!-- <ion-item no-padding class="animated fadeInUp">
          <ion-label position="floating">

            <h1>
              <ion-icon name="mail" item-start></ion-icon>
              Employee ID
            </h1>
          </ion-label>
          <ion-input color="secondary" type="email" [(ngModel)]="usr.emp_id" name="empId"></ion-input>
        </ion-item>


        <ion-item no-padding class="animated fadeInUp">
          <ion-label position="floating">
            <h1>
              <ion-icon name="lock" item-start></ion-icon>
              Password
            </h1>

          </ion-label>

          <ion-input color="secondary" type="password" [(ngModel)]="usr.emp_pwd" name="password"></ion-input>
        </ion-item> -->

            <ion-item no-padding class="animated fadeInUp">
              <ion-label position="floating" class="wcLabel">

                <h3>
                  <ion-icon name="mail" item-start></ion-icon>
                  Employee ID
                </h3>
              </ion-label>
              <ion-input color="light" type="email" [(ngModel)]="usr.emp_id" name="usr.emp_id"></ion-input>
            </ion-item>
            <!-- <p ion-text class="text08">
                <ion-text color="danger">
                  EmployeeId
                </ion-text>
              </p> -->

            <ion-item no-padding class="animated fadeInUp">
              <ion-label position="floating" class="wcLabel">
                <h3>
                  <ion-icon name="lock" item-start></ion-icon>
                  Password
                </h3>

              </ion-label>

              <ion-input color="light" type="password" [(ngModel)]="usr.emp_pwd" name="usr.emp_pwd"></ion-input>
            </ion-item>


            <ion-item no-padding class="animated fadeInUp">
              <ion-label position="floating" class="wcLabel">
                <h3>
                  <ion-icon name="lock" item-start></ion-icon>
                  Confirm Password
                </h3>

              </ion-label>

              <ion-input color="light" type="password" [(ngModel)]="passwordConfirm" name="passwordConfirm"></ion-input>
            </ion-item>


            <ion-button full (click)="signUp()" icon-left size="medium" expand="full" shape="round" color="dark"
              tappable>
              <ion-ripple-effect></ion-ripple-effect>
              <ion-icon name="paper"></ion-icon>
              Submit
            </ion-button>


          </form>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
  <!-- </div> -->
  <!-- <div class="auth-content">

    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h4 no-margin>
        <ion-text color="light">
          Register
          <ion-text color="secondary" class="fw700"> </ion-text>
        </ion-text>
      </h4>
    </div>



  </div> -->
</ion-content>