<ion-header>
  <ion-toolbar color="primary" class="animated fadeIn">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <!-- [placeholder]="translate.get('userlist.search')" -->
        <!-- {{ 'app.name' | translate }} -->
        Dashboard
        <ion-text color="secondary" class="fw700"> </ion-text>
      </ion-text>
    </ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button icon-left size="small" shape="round" color="tertiary" (click)="messages()">
        <ion-icon name="mail"></ion-icon>
      </ion-button>
      <ion-button icon-left size="small" shape="round" color="tertiary" (click)="editprofile()">
        <ion-icon name="contact"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>

    </ion-card-header>
    <ion-card-content>
      <div [ngStyle]="getcenterStyle()">
        <h1>Attendance Summary</h1>
        <!-- <ion-label>Days Statistics</ion-label> -->



        <ion-item>
          <ion-label class="text-1x fw700">
            <ion-text color="dark">Select Period</ion-text>
          </ion-label>
          <ion-select [(ngModel)]="Peroid" (ionChange)="ReloadChart()">
            <!-- <ion-select-option *ngFor="let location of locationList" [value]="location">
              <ion-text color="light">{{ location.city }}</ion-text>
            </ion-select-option> -->

            <ion-select-option value="0">
              <ion-text color="light">Today</ion-text>
            </ion-select-option>
            <ion-select-option value="1">
              <ion-text color="light">Yesterday</ion-text>
            </ion-select-option>
            <ion-select-option value="6">
              <ion-text color="light">Last 7 Days</ion-text>
            </ion-select-option>
            <ion-select-option value="29">
              <ion-text color="light">Last 30 Days</ion-text>
            </ion-select-option>

          </ion-select>
        </ion-item>


        <!-- <ion-select [(ngModel)]="Peroid" name="Peroid" (ionChange)="ReloadChart()">
          <ion-select-option value="0">Today</ion-select-option>
          <ion-select-option value="1">Yesterday</ion-select-option>
          <ion-select-option value="6">Last 7 Days</ion-select-option>
          <ion-select-option value="29">Last 30 Days</ion-select-option>

        </ion-select> -->

      </div>

      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <div class="current mat-headline" [ngStyle]="getOverlayStyle()">Delay<br />
              {{attSummary.workedWithDelay_Per | number:'1.2-2' }}%</div>
            <round-progress [color]="'#f4e542'" [background]="'#4f24ac'" style="display: initial !important;" [radius]="90"
              [rounded]="true" [current]="attSummary.workedWithDelay_Per" [max]="100"> test</round-progress>
          </ion-col>
          <ion-col col-4>
            <div class="current mat-headline" [ngStyle]="getOverlayStyle()">Absent<br /> {{attSummary.absent_Per |
              number:'1.2-2' }}%</div>
            <round-progress [color]="'#ed4025'" [background]="'#4f24ac'" style="display: initial !important;" [radius]="90"
              [rounded]="true" [current]="attSummary.absent_Per" [max]="100"> test</round-progress>
          </ion-col>
          <ion-col col-4>
            <div class="current mat-headline" [ngStyle]="getOverlayStyle()">Present<br />
              {{attSummary.workedWithDelay_Per | number:'1.2-2' }}%</div>
            <round-progress [background]="'#4f24ac'" style="display: initial !important;" [radius]="90" [rounded]="true"
              [current]="attSummary.workedWithDelay_Per" [max]="100"> test</round-progress>
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col>
           
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
           
          </ion-col>
        </ion-row> -->

      </ion-grid>


      <!-- <div padding>
        <ion-segment [(ngModel)]="Currentchart">
          <ion-segment-button value="Present">
            Present
          </ion-segment-button>
          <ion-segment-button value="Absent">
            Absent
          </ion-segment-button>
          <ion-segment-button value="Delay">
            Delay
          </ion-segment-button>
        </ion-segment>
      </div>
      <div [ngSwitch]="Currentchart">
        <div *ngSwitchCase="'Present'">
       
        </div>

        <div *ngSwitchCase="'Absent'">
          <ion-grid>
            <ion-row>


            </ion-row>

          </ion-grid>
        </div>
        <div *ngSwitchCase="'Delay'">
          <ion-grid>
            <ion-row>


            </ion-row>

          </ion-grid>
        </div>
      </div> -->
    </ion-card-content>
  </ion-card>

  <!-- <ion-card>
    <ion-card-content>
      <ion-item class="item-leave-height">
        <ion-label>Days Statistics</ion-label>
      
        <ion-select [(ngModel)]="Peroid" name="Peroid" (ionChange)="ReloadChart()">
          <ion-select-option value="0">Today</ion-select-option>
          <ion-select-option value="1">Yesterday</ion-select-option>
          <ion-select-option value="29">Last 30 Days</ion-select-option>
          <ion-select-option value="6">Last 7 Days</ion-select-option>
        </ion-select>
      </ion-item>

      <canvas #doughnutCanvas></canvas>
    </ion-card-content>
  </ion-card> -->



  <ion-card>
    <ion-card-header>
      Statistical Information
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <div>
          <ion-row>
            <ion-col> Working Days :</ion-col>
            <ion-col> {{attSummary.workingDays}} ({{attSummary.workingDays_Per | number:'1.2-2' }} %)</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Worked Days :</ion-col>
            <ion-col> {{attSummary.workedDays}} ({{attSummary.workedDays_Per | number:'1.2-2' }} %)</ion-col>
          </ion-row>
          <ion-row>
            <ion-col> Worked With Delay:</ion-col>
            <ion-col>{{attSummary.workedWithDelay}} ({{attSummary.workedWithDelay_Per | number:'1.2-2' }} %)</ion-col>
          </ion-row>
          <ion-row>
            <ion-col> Absent :</ion-col>
            <ion-col> {{attSummary.absent}} ({{attSummary.absent_Per | number:'1.2-2' }} %)</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Absent With Duity:</ion-col>
            <ion-col> {{attSummary.absentWithDuity}} ({{attSummary.absentWithDuity_Per | number:'1.2-2' }} %)</ion-col>
          </ion-row>
          <ion-row>
            <ion-col> Vac Days :</ion-col>
            <ion-col> {{attSummary.VacDays}} ({{attSummary.VacDays_Per | number:'1.2-2' }} %)</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Off Days :</ion-col>
            <ion-col> {{attSummary.OffDays}} ({{attSummary.OffDays_Per | number:'1.2-2' }} %)</ion-col>
          </ion-row>
          <ion-row>
            <ion-col> No T.T :</ion-col>
            <ion-col> {{attSummary.NoTT}} ({{attSummary.NoTT_Per | number:'1.2-2' }} %)</ion-col>
          </ion-row>
        </div>

      </ion-grid>

    </ion-card-content>
  </ion-card>



  <div padding>
    <ion-segment [(ngModel)]="CurrentTab">
      <ion-segment-button value="TimeTable">
        Timetable
      </ion-segment-button>
      <ion-segment-button value="Attendance">
        Attendance
      </ion-segment-button>
      <ion-segment-button value="Punches">
        My Punches
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="CurrentTab">
    <div *ngSwitchCase="'TimeTable'">
      <!-- <ion-list>
        <ion-item *ngFor="let att of TTListModel">
          <div [ngClass]="att.TT_STATE==2 ? 'GreenBackGround': ''">
            <h2>Time Table On : {{att.TT_DATE | date:'yyyy/MM/dd'}}</h2>
            <h3>From Time: {{att.FROM_DATE_TIME | date:'HH:mm'}} To Time : {{att.TO_DATE_TIME | date:'HH:mm'}}</h3>
            <p>{{helper.GetTimeTableState(att.TT_STATE)}}</p>
          </div>
        </ion-item>
      </ion-list> -->
      <div>
        <ion-item color="medium" tappable margin-bottom *ngFor="let att of TTListModel">
          <ion-thumbnail slot="start">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <img src="assets/img/clockLogo.png">
                </ion-col>
              </ion-row>
            </ion-grid>


          </ion-thumbnail>
          <ion-label>
            <!-- EEEE, MMMM d, y, h:mm:ss a zzzz -->
            <h2> <strong>{{att.TT_DATE | date:'EEEE'}}</strong></h2>
            <h3>
              <strong>{{att.TT_DATE | date:'yyyy/MM/dd'}}</strong>
            </h3>
            <h3>
              <ion-badge slot="start" color="secondary" class="rooms">
                <strong>From {{att.FROM_DATE_TIME | date:'HH:mm'}} </strong>
                <strong>To {{att.TO_DATE_TIME | date:'HH:mm'}}</strong>
              </ion-badge>
              <br />
              <ion-badge *ngIf="helper.GetTimeTableState(att.TT_STATE)=='Off day'" slot="start" color="success" class="rooms">
                <strong>{{helper.GetTimeTableState(att.TT_STATE)}}</strong>
              </ion-badge>
              <ion-badge *ngIf="helper.GetTimeTableState(att.TT_STATE)=='Working day'" slot="start" color="warning"
                class="rooms">
                <strong>{{helper.GetTimeTableState(att.TT_STATE)}}</strong>
              </ion-badge>
            </h3>

            <!-- <ion-badge color="warning">
           
           
          </ion-badge> -->
          </ion-label>
        </ion-item>
      </div>



    </div>


    <div *ngSwitchCase="'Attendance'">

      <!-- <ion-list> -->
      <!-- <ion-item *ngFor="let att of AttendanceTab">
          <h2>Attendance Summary On : {{att.AT_DATE | date:'yyyy/MM/dd'}}</h2>
          <h3></h3>
          <p>Reg.HRS : {{helper.ToHoursString(att.AT_TOTAL_WORK_DURATION)}}</p>
          <p>Absent : {{helper.ToHoursString(att.AT_TOTAL_ABSENT)}}</p>
          <p>Overtime : {{helper.ToHoursString(att.AT_TOTAL_OVERTIME)}}</p>
          <p>Duties Overtime : {{helper.ToHoursString(att.AT_TOTAL_DUTY_OVERTIME)}}</p>
          <p>Break : {{helper.ToHoursString(att.AT_TOTAL_DUTY_OVERTIME)}}</p>
          <p>Duties : {{helper.ToHoursString(att.AT_TOTAL_DUTIES)}}</p>
          <p>Excuse : {{helper.ToHoursString(att.AT_TOTAL_EXCUSE)}}</p>
        </ion-item> -->



      <div>
        <ion-item color="medium" tappable margin-bottom *ngFor="let att of AttendanceTab">
          <ion-thumbnail slot="start">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <img src="assets/img/AttendanceLogo.png">
                </ion-col>
              </ion-row>
            </ion-grid>


          </ion-thumbnail>
          <ion-label>
            <h2>
              <strong>{{att.AT_DATE | date:'EEEE'}}</strong>

            </h2>
            <h3>
              <strong>{{att.AT_DATE | date:'yyyy/MM/dd'}}</strong>
            </h3>
            <h3>
              <ion-badge style="width: 170px" slot="start" color="secondary" class="rooms">
                <strong style="float:left">Reg.HRS {{helper.ToHoursString(att.AT_TOTAL_WORK_DURATION)}}</strong>
              </ion-badge>
            </h3>

            <h3>
              <ion-badge style="width: 170px" slot="start" color="secondary" class="rooms">
                <strong style="float:left">Worked Hours {{helper.GetHours(att.AT_TOTAL_WORK_DURATION)}}</strong>
              </ion-badge>
            </h3>


            <h3>
              <ion-badge style="width: 170px" slot="start" color="secondary" class="rooms">
                <strong style="float:left">Absent {{helper.ToHoursString(att.AT_TOTAL_ABSENT)}}</strong>
              </ion-badge>
            </h3>
            <h3>
              <ion-badge style="width: 170px" slot="start" color="secondary" class="rooms">
                <strong style="float:left">Overtime {{helper.ToHoursString(att.AT_TOTAL_OVERTIME)}}</strong>
              </ion-badge>
            </h3>
            <h3>
              <ion-badge style="width: 170px" slot="start" color="secondary" class="rooms">
                <strong style="float:left">Duties Overtime {{helper.ToHoursString(att.AT_TOTAL_DUTY_OVERTIME)}}
                </strong>
              </ion-badge>
            </h3>
            <h3>
              <ion-badge style="width: 170px" slot="start" color="secondary" class="rooms">
                <strong style="float:left">Break {{helper.ToHoursString(att.AT_TOTAL_DUTY_OVERTIME)}}</strong>
              </ion-badge>
            </h3>
            <h3>

              <ion-badge style="width: 170px" slot="start" color="secondary" class="rooms">
                <strong style="float:left">Duties {{helper.ToHoursString(att.AT_TOTAL_DUTIES)}}</strong>
              </ion-badge>
            </h3>
            <h3>
              <ion-badge style="width: 170px" slot="start" color="secondary" class="rooms">
                <strong style="float:left">Excuse {{helper.ToHoursString(att.AT_TOTAL_EXCUSE)}}</strong>
              </ion-badge>
            </h3>








          </ion-label>
        </ion-item>
      </div>



      <!-- </ion-list> -->

      <!-- <div style="overflow-x:auto;">

              <ion-grid>
                <ion-row nowrap>
        
                  <ion-col class="thro">DATE</ion-col>
                  <ion-col class="thro">Reg.HRS</ion-col>
                  <ion-col class="thro">Work</ion-col>
                  <ion-col class="thro">Absent</ion-col>
                  <ion-col class="thro">O.T</ion-col>
                  <ion-col class="thro">Duties O.T</ion-col>
                  <ion-col class="thro">Break</ion-col>
                  <ion-col class="thro">Duties</ion-col>
                  <ion-col class="thro">Excuse</ion-col>
           
                </ion-row>
        
                <ion-row nowrap *ngFor="let att of AttendanceTab" class="ro">
                  <ion-col>{{att.AT_DATE | date:'yyyy/MM/dd'}}</ion-col>
                  <ion-col>{{helper.ToHoursString(att.AT_TOTAL_WORK_DURATION)}}</ion-col>

                  <ion-col>{{helper.ToHoursString(att.AT_TOTAL_WORK)}}</ion-col>
                  <ion-col>{{helper.ToHoursString(att.AT_TOTAL_ABSENT)}}</ion-col>
                  <ion-col>{{helper.ToHoursString(att.AT_TOTAL_OVERTIME)}}</ion-col>
                  <ion-col>{{helper.ToHoursString(att.AT_TOTAL_DUTY_OVERTIME)}}</ion-col>
                  <ion-col>{{helper.ToHoursString(att.AT_TOTAL_DUTY_OVERTIME)}}</ion-col>
                  <ion-col>{{helper.ToHoursString(att.AT_TOTAL_DUTIES)}}</ion-col>
                  <ion-col>{{helper.ToHoursString(att.AT_TOTAL_EXCUSE)}}</ion-col>
                </ion-row>
              </ion-grid>
            </div>
            -->
    </div>
    <div *ngSwitchCase="'Punches'">

      <!-- <ion-list>
        <ion-item *ngFor="let att of PunchTable">

          <h2>My Punches On : {{att.PUNCH_DATETIME | date:'yyyy/MM/dd'}}</h2>
          <h3></h3>
          <p>Punch Type : {{helper.getPunchType(att.PUNCH_TYPE)}}</p>
          <p>Reader : {{att.READER_NAME}} </p>
         
        </ion-item>
      </ion-list> -->

      <div>
        <ion-item color="medium" tappable margin-bottom *ngFor="let att of PunchTable">
          <ion-thumbnail slot="start">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <img src="assets/img/fingerprints.png">
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-thumbnail>
          <ion-label>

            <h2>
              <strong>{{att.PUNCH_DATETIME | date:'EEEE'}}</strong>
            </h2>
            <h3>
              <strong>{{att.PUNCH_DATETIME | date:'yyyy/MM/dd'}}</strong>
            </h3>
            <h3>
              <!--  -->

              <ion-badge *ngIf="helper.getPunchType(att.PUNCH_TYPE)=='IN'" slot="start" color="success" class="rooms">
                <strong>Punch {{helper.getPunchType(att.PUNCH_TYPE)}}</strong>
                <!-- <strong>Punch Type </strong>
                    <br/><br/>
                    <strong>Reader {{att.READER_NAME}} </strong> -->
              </ion-badge>

              <ion-badge *ngIf="helper.getPunchType(att.PUNCH_TYPE)=='OUT'" slot="start" color="danger" class="rooms">
                <strong>Punch {{helper.getPunchType(att.PUNCH_TYPE)}}</strong>
                <!-- <strong>Punch Type </strong>
                      <br/><br/>
                      <strong>Reader {{att.READER_NAME}} </strong> -->
              </ion-badge>

            </h3>
          </ion-label>
        </ion-item>
      </div>



    </div>
  </div>




  <!-- <div padding >
    <ion-segment [ngModel]="CurrentTab">
      <ion-segment-button value="TimeTable">
        Time Table
      </ion-segment-button>
      <ion-segment-button value="Attendance">
        Attendance
      </ion-segment-button>
      <ion-segment-button value="MyPunches">
        MyPunches
      </ion-segment-button>
    </ion-segment>
  </div>


  <div [ngSwitch]="CurrentTab">
    <ion-item *ngSwitchCase="'TimeTable'">
      TimeTable
    </ion-item>
  
    <ion-list *ngSwitchCase="'Attendance'">
      <ion-item>
       Attendance
      </ion-item>
     
    </ion-list>

    <ion-list *ngSwitchCase="'MyPunches'">
      <ion-item>
       MyPunches
      </ion-item>
     
    </ion-list>


  </div> -->







  <ion-card>
    <!-- <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col col-10>{{'TimeTable'|translate}}</ion-col>        
        </ion-row>
      </ion-grid>
    </ion-card-header> -->






    <!-- <div style="overflow-x:auto;">

      <ion-grid>
        <ion-row>

          <ion-col class="thro">DATE </ion-col>
          <ion-col class="thro">To work </ion-col>
          <ion-col class="thro">From Time </ion-col>
          <ion-col class="thro">To Time </ion-col>

        </ion-row>

        <ion-row *ngFor="let att of TTListModel" class="ro">
          <ion-col>{{att.TT_DATE | date:'yyyy/MM/dd'}}</ion-col>
          <ion-col>{{att.FROM_DATE_TIME | date:'yyyy/MM/dd'}}</ion-col>
          <ion-col>{{att.TO_DATE_TIME | date:'yyyy/MM/dd'}}</ion-col>
          <ion-col>{{att.TT_STATE}}</ion-col>

        </ion-row>
      </ion-grid>
    </div> -->


  </ion-card>


  <ion-card>
    <!-- <ion-card-header>

      <ion-grid>
        <ion-row nowrap>
          <ion-col col-10>{{'Attendance'|translate}}</ion-col>
          <ion-col col-2>
         
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header> -->


  </ion-card>







  <ion-card>
    <!-- <ion-card-header>

      <ion-grid>
        <ion-row>
          <ion-col col-10> {{'TodayPunches'|translate}}</ion-col>
          <ion-col col-2>
        
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header> -->


  </ion-card>

  <!-- 
    <table st-table="rowCollection" class="table table-striped">
        <thead>
        <tr>
          <th>first name</th>
          <th>last name</th>
          <th>birth date</th>
          <th>balance</th>
          <th>email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>table-striped</td>
          <td>test</td>
          <td>sss</td>
          <td>sssdd</td>
          <td>dddd</td>
        </tr>
        </tbody>
      </table> -->


  <!-- <table class="table"> -->
  <!-- <thead>
        <tr style="padding-top:5px;paddind:bottom:5px;background:#488aff">
          <th>Date</th>
          <th>To Work</th>
          <th>From Time</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>3</td>
          <td>4</td>
          <td>5</td>
        </tr>
      </tbody>
    </table> -->
  <!-- <ion-grid>
      <ion-row>
        <ion-col> Date </ion-col>
        <ion-col>To Work </ion-col>
        <ion-col> From Time</ion-col>
        <ion-col>To time</ion-col>
        <ion-col> calc.type</ion-col>
        <ion-col>policy group </ion-col>
        <ion-col>tpl.used </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>2</ion-col>
        <ion-col>3</ion-col>
        <ion-col>4</ion-col>
        <ion-col>65</ion-col>
        <ion-col>7</ion-col>
        <ion-col>8</ion-col>
        <ion-col>5</ion-col>
      </ion-row>

    </ion-grid>

  </ion-card> -->

  <!-- <ion-card>
  




    <div padding>
      <ion-segment [(ngModel)]="dashbrd">
        <ion-segment-button value="Reports">
          {{'Reports'|translate}}
        </ion-segment-button>
        <ion-segment-button value="Actions">
          {{'Actions'|translate}}
        </ion-segment-button>
      </ion-segment>
    </div>

    <div [ngSwitch]="dashbrd">
      <ion-list *ngSwitchCase="'Reports'">
        <ion-list>
          <button ion-item (click)="TimeTablePage()">
            <ion-icon name="clipboard" item-start></ion-icon>
            {{'TimeTable'|translate}}

          </button>

          <button ion-item>
            <ion-icon name="clock" item-start></ion-icon>

            {{'Attendance'|translate}}

          </button>

          <button ion-item>
            <ion-icon name="exit" item-start></ion-icon>
            {{'TodayPunches'|translate}}

          </button>

          <button ion-item>
            <ion-icon name="baseball" item-start></ion-icon>
            {{'ComingLeaves'|translate}}

          </button>

          <button ion-item>
            <ion-icon name="person" item-start></ion-icon>
            {{'PersonalInformation'|translate}}

          </button>




        </ion-list>
      </ion-list>

      <ion-list *ngSwitchCase="'Actions'">

        <button ion-item>
          <ion-icon name="alarm" item-start></ion-icon>
          {{'ManulaPunch'|translate}}
        </button>

        <button ion-item (click)="GeoPunchPage()">
          <ion-icon name="compass" item-start></ion-icon>

          {{'GeoPunch'|translate}}
        </button>

      </ion-list>
    </div>



  -->


</ion-content>