:host {
    ion-content {
      --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
    }
  }
  
  .round-progressbar {
    display: initial !important;
    margin: 10px 5px;
    padding: 10px;
    background-color:white;
    
    & .header {
       text-align: center;
       color:white;
    }
    & .roundholder{
       position: absolute;
       
       & .current{
           position: relative;
       }
    }
   .progress-wrapper {
       position: relative;
       margin: 20px auto;
   }

   .current {
       position: absolute;
       font-weight: 100;
       line-height: 1;
       font-size: 32px;
       color: white;
   }

   round-progress {
     margin: auto;
   }
}

  